testapp/Service References/ServiceReference1/FoodStorage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FoodStorage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57254/FoodStorage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57254/FoodStorage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoodStorage_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_UpdateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_UpdateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_AddThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:AddThreshold" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_AddThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_DeleteThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteThreshold" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_DeleteThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_UpdateThreshold_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateThreshold" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_UpdateThreshold_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateThresholdResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_GetAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItems" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_GetAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="IFoodStorage_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoodStorage">
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/AddItem" message="tns:IFoodStorage_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/AddItemResponse" message="tns:IFoodStorage_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/DeleteItem" message="tns:IFoodStorage_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/DeleteItemResponse" message="tns:IFoodStorage_DeleteItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/UpdateItem" message="tns:IFoodStorage_UpdateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/UpdateItemResponse" message="tns:IFoodStorage_UpdateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddThreshold">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/AddThreshold" message="tns:IFoodStorage_AddThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/AddThresholdResponse" message="tns:IFoodStorage_AddThreshold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteThreshold">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/DeleteThreshold" message="tns:IFoodStorage_DeleteThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/DeleteThresholdResponse" message="tns:IFoodStorage_DeleteThreshold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateThreshold">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/UpdateThreshold" message="tns:IFoodStorage_UpdateThreshold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/UpdateThresholdResponse" message="tns:IFoodStorage_UpdateThreshold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/GetAllItems" message="tns:IFoodStorage_GetAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/GetAllItemsResponse" message="tns:IFoodStorage_GetAllItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodStorage/GetItem" message="tns:IFoodStorage_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodStorage/GetItemResponse" message="tns:IFoodStorage_GetItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoodStorage" type="tns:IFoodStorage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/UpdateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddThreshold">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/AddThreshold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteThreshold">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/DeleteThreshold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateThreshold">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/UpdateThreshold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/GetAllItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://tempuri.org/IFoodStorage/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoodStorage">
    <wsdl:port name="BasicHttpBinding_IFoodStorage" binding="tns:BasicHttpBinding_IFoodStorage">
      <soap:address location="http://localhost:57254/FoodStorage.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>